* {
    margin : 0px;
    padding: 0px;
}

#tweet {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#mb-3 {
    width: 40%;
    margin: 0 auto;
}

#button {
margin: 8px 0 8px 0;
padding: 5px;
}

#content {
    resize: none;
}

#loading {
    display: none;
}

