* {
    margin : 0px;
    padding: 0px;
}

#tweet {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
}

h1 {
    text-align: center;
}

#mb-3 {
    width: 97.75vw;
    background-color: burlywood;
}

#button {
margin: 8px 0 8px 0;
padding: 5px;
}

#content {
    resize: none;
}

#loading {
    display: none;
}

.tweet {
    color: whitesmoke;
    background-color: rgb(13, 13, 73);
    border: rgb(13, 13, 73) 0.5px ridge;
    margin: 5px 20px 50px 20px;
    padding: 3px 10px 0px 10px;
}

.tweet p {
    border: yellow 2px solid;
    margin: 0px 0px 5px 0px;
}

.users {
    width: fit-content;
}

#tweets {
    width: 40%;
}

#tweets-area {
    margin: 0 auto;
}